[user]
	email = hello@josephearl.co.uk
	name = Joseph Earl
[push]
	default = simple
	autoSetupRemote = true
[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
	pu = pull
	ps = push
	ls = log --pretty=format:\"%C(green bold)%h%C(red bold)%d\\ %Creset%s%C(cyan bold)\\ [%cn]\" --decorate
	ll = log --pretty=format:\"%C(green bold)%h%C(red bold)%d\\ %Creset%s%C(cyan bold)\\ [%cn]\" --decorate --numstat
	ld = log --pretty=format:\"%C(green bold)%h\\ %C(yellow bold)%ad%C(red bold)%d\\ %Creset%s%C(cyan bold)\\ [%cn]\" --decorate --date=relative
	ds = diff --staged
	unstage = reset HEAD --
	discard = checkout --
	last = show HEAD
[color]
	ui = auto
[color "branch"]
	current = green bold reverse
	local = normal
	remote = white
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = red bold
	untracked = white
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	ff = only
[init]
	defaultBranch = main
