"*":
  "exception-reporting":
    userId: "4fff5915-1b08-e5f2-016b-1d3d3e9a0a37"
  pigments:
    autocompleteScopes: [
      ".source.css"
      ".source.css.less"
      ".source.sass"
      ".source.css.scss"
      ".source.stylus"
      ".source.fish"
      ".source.bash"
    ]
  welcome:
    showOnStartup: false
